[2016-02-07 03:48] dkirkby opened #4 "Units problems in psf-quicksim.fits"
(I know this file is actually in SVN rather than this repo, but thought an issue here might be more useful than a trac ticket).

`astropy.io.fits` is flagging some units problems when reading `desimodel/data/specpsf/psf-quicksim.fits`:
[code]
These are harmless for now, but should be easy to fix the next time someone updates this file.

[2016-02-08 17:45] sbailey commented on #4
For the record, this has the feeling of astropy trying to irritate us into doing something formally right, but somewhat less useful than what we are currently doing.

"Angstrom" is clearer at a glance than "10**-1 nm".  And Angstroms are the defacto optical astronomy wavelength unit at a useful scale, even if they aren't SI.  Using Angstrom may cause astropy warnings, but it doesn't cause confusio

[2016-02-08 18:29] weaverba137 commented on #4
PS, yes, this is the correct place to report all problems with desimodel!

[2016-02-08 20:18] dkirkby commented on #4
@sbailey I agree with all that.  I just wanted to flag the issue since these warnings are now printed by `specsim` after I switched from `astropy.io.fits.open()` to `astropy.table.Table.read()` for reading the PSFs.  It looks like they are using the `warnings` module, so we can probably silence this particular message.

For Angstrom/row, we could define a custom dimensionless unit, e.g.
[code]

[2016-02-08 22:26] sbailey opened #5 "Add tests for desimodel.trim"
desimodel.trim includes functions for trimming down a full svn desimodel/data directory into a lightweight one for testing.  This includes some potentially fragile assumptions about input data formats and dimensionality and thus should be included in the unit tests.

However, as currently written, the trim code can't run on an already trimmed data directory, so such tests wouldn't work with travis

[2016-02-17 19:53] dkirkby commented on #4
I ended up with a different solution to this problem in specsim: I use `Angstrom/pixel` for the units instead of `Angstrom/row`.  This works because `pixel` is already a pre-defined astropy unit.  You could quibble that rows and pixels are not the same, but astropy does not specify whether a pixel is a linear unit or an area unit.  I use it consistently as a linear unit now in specsim, and everyth

[2016-02-19 00:28] dkirkby opened #6 "Meaning of gain parameters in desi.yaml"
The gain parameters in `desi.yaml` are all given as:
[code]
Since the value is 1.0, this question is mostly academic but I would like to be sure I am using this constant correctly in `specsim` in case someone ever runs with a different value.

The units indicate that I should *divide* the simulated electrons per bin by the gain.  Is that correct?

[2016-02-19 00:30] moustakas commented on #6
Right.

[2016-02-19 00:45] dkirkby commented on #6
Ok, thanks.  I normally think of an amplifier gain as (output signal) / (input signal), but I'm glad the units are correct at least.

[2016-02-19 00:55] djschlegel commented on #6
I've always advocated re-naming the quantity that astronomers use as the "loss".
At least then the meaning is no longer ambiguous.

[2016-02-19 01:00] sbailey commented on #6
The amplifier gain is (output signal) / (input signal) since in real life it is used to convert raw ADU (amplifier digital units) coming out of the CCDs into electron units, upon which we do the rest of the calculations.  i.e.

electrons = (raw data CCD ADUs) * gain

It only seems backwards because our simulations are in electrons (photons) and then we divide by the gain to get back to really real

[2016-02-19 01:06] dkirkby commented on #6
Ok, but the input signal to the front-end hardware amplifier is electrons (from e-h pairs) collected on a CCD gate, not ADUs.

[2016-02-20 15:55] #6 closed

[2016-02-20 17:33] dkirkby opened #7 "Wavelength limits of throughput and resolution"
The files `data/specpsf/psf-quicksim.fits` and `data/throughput/thru-*.fits` have different wavelength coverage:
[code]
Questions:
* Do the PSF wavelength ranges effectively define the limit of active pixels on the CCD?
* How should the ~50A regions of non-zero throughput extending beyond the PSF limits be interpreted?
* Do photons do beyond the PSF limits actually enter the camera, potentially di

[2016-02-21 18:15] dkirkby opened #8 "Duplicate KPNO extinction tables"
Why do we have two versions of the KPNO zenith extinction coefficients:

1. `data/spectra/ZenithExtinction-KPNO.dat` covers 3500-10,000A in 0.1A steps with 7 digits of precision.
2. `data/sky/kpnoextinct_lunarmodel.dat` covers 3200-10,600A in 1.0A steps with 6 digits of precision.

Both tables have identical values (except for the extra digit of precision) for the wavelengths they have in common.

[2016-02-23 07:12] sbailey commented on #8
I suspect that Jeremy added the second one while implementing the lunar model simply because he was unaware of the first one, which was added by David (Schlegel) possibly because he was unaware of the original one in data/inputs/throughput/ZenithExtinction-KPNO.fits.  That one is used by bin/combine_throughputs.py while creating the data/throughput/thru-[brz].fits files; these contain a 4th (and 5

[2016-02-23 15:14] dkirkby commented on #8
There are more duplicates that I realized!  What is the plan for files under `desimodel/data/` going forward, now that the code lives in this github package?  Are we are aiming for a slimmed down set of canonical files?  Specsim is now flexible enough to use any of these sources, including a column from one of the thru-[brz].fits files.

[2016-02-23 18:25] sbailey commented on #8
The plan is for the *code* to be on github, while installing the data from svn.  Even though the data is a bit of a mess right now, I would suggest waiting until after the reviews to do a cleanup so that we don't break currently working code.  Cleanup could include:

* removing duplicates
* Makefile to convert inputs from DocDB into outputs to use
* convert ascii tables to ecsv ascii to get units

[2016-02-23 18:37] moustakas commented on #8
I would also like to retire some or all of the 'fiducial' spectra in (the SVN) desimodel/data/spectra directory and either replace these with median templates of the appropriate spectral type or build the template on-the-fly using desisim.

[2016-02-23 18:41] dkirkby commented on #8
The spec*sim* config file duplicates a subset of `desi.yaml` but also contains a lot of other info (including machine readable units for the duplicated values), so I don't think the last item is so straightforward.  Would it be enough to have a script in the github desimodel that validates the specsim config against the authoritative `desi.yaml`?  In any case, this task should probably also wait u

[2016-02-29 17:43] dkirkby opened #9 "Readout noise units"
Read noise values in `desi.yaml` are currently given in units of electrons:
[code]
Shouldn't that be electrons / pixel ?

[2016-02-29 19:14] sbailey commented on #9
Yes.

Systems Engineering owns this doc and it is propagated to us via DESI-0347.  I'll ask them to update the comment for the next release of DESI-0347, but I don't think it is worth asking them to cut a new revision just to correct the comment.

If you want to correct this in svn, ok, but correct both the comment and leave a comment at the top explaining why this isn't identical to what is in DE

[2016-02-29 19:14] #9 closed

[2016-02-29 19:24] dkirkby commented on #9
For now, I will just fix the units in the specsim config file.

[2016-03-07 16:51] dkirkby opened #10 "Host authoritative specsim default configuration file"
The default DESI configuration used by specsim is currently `specsim/data/config/desi.yaml`.  This issue is to host the authoritative version of this file in this package, and have the desisim `quickgen` and `quickbrick` scripts use this authoritative version by default.

In order to make this file authoritative, we also need to decide how to handle the 14 constants listed here:

  http://specsim.

[2016-03-07 16:56] dkirkby commented on #10
For background on this issue see desihub/desisim#93.

[2016-03-07 20:10] sbailey commented on #10
I like `get_specsim_config()`, but should it return a yaml file, or the contents that would have been loaded from said yaml file?  I think the latter is cleaner if that can be made compatible with specsim, since it doesn't involve making a temporary file just so that specsim can read it back in.

I had originally been thinking that we would provide a script in desimodel to convert its contents (in

[2016-03-11 19:29] weaverba137 opened #11 "desiInstall won't install data"
Apparently desiInstall won't automatically install the data from svn.

[2016-03-11 21:39] weaverba137 opened #12 "Update Release Notes"
The release notes (doc/release_notes.rst) did not get updated for tag 0.4.3.  It's too late to get this into the actual tag, but it would be nice to document the changes for the future.

[2016-03-11 22:15] sbailey commented on #12
done

[2016-03-11 22:15] #12 closed

[2016-03-11 22:26] sbailey opened #13 "need MWS and BGS numbers in targets.dat"
We need updated canonical BGS and MWS numbers in targets.dat (in svn, not git).  This is waiting upon a DocDB bright time survey planning document that can be used as a reference for the real numbers.  In the meantime, there are a few placeholder numbers just so that we can proceed with something for brightime sims:
[code]

[2016-03-15 14:46] #11 closed

[2016-05-14 16:10] weaverba137 opened #15 "Possibly inconsistent handling of FITS data."
Why does `desimodel.io.load_fiberpos()` wrap the return value of `astropy.io.fits.getdata()` in `numpy.array()`, but `desimodel.io.load_tiles()` does not?

[2016-05-16 20:55] weaverba137 commented on #15
This is left over from a failed attempt to convert FITS data into a "pure" numpy array.  The code still works so resolving this discrepancy is low priority.

[2016-05-20 18:26] weaverba137 opened #16 "Add nominal tile radius to desi-tiles.fits"
The desi-tiles.fits files does not include any information about the *radius* of the tiles.  This could easily be included as a FITS header keyword in the first HDU.

[2016-05-27 00:23] sbailey commented on #16
In principle desi-tiles.fits should only contain the tile centers.  The radius is then derived from the fiber positions and the optics model in data/focalplane/fiberpos.fits and data/focalplane/platescale.txt .

However, that is a convoluted route to answer a simple question of effective radius.  I'm going to close this ticket since desi-tiles.fits isn't the place to answer it, while opening a new

[2016-05-27 00:23] #16 closed

[2016-05-27 00:24] sbailey opened #17 "desimodel.focalplane : include radius, and review correctness"
Review correctness of desimodel.focalplane.FocalPlane.  e.g. does a round trip of xy -> RA,dec -> xy work?

Add a function for determining the effective radius based upon the location of the fibers and the platescale.

[2016-05-27 00:31] dkirkby commented on #17
You could also compare with the xy -> RA,dec -> xy transforms in `specsim.transform`.

[2016-06-06 12:15] rainwoodman opened #18 "Uncomprehensible help message in install_desimodel_data"
Really tiny, but ....

"""
...
is, the directory specified by the environment variable. 2. The value set with
the -d option on the command line. 3. A directory relative to the file
containing this script. This directory is currently <function
default_install_dir at 0x2aaaac07b398>. If the data directory already exists,
this script will not do anything.
...
"""

[2016-06-06 17:16] #18 closed

[2016-06-06 17:35] weaverba137 commented on #15
@sbailey this is a pretty simple fix, but I need to know, what is the significance of `fits.getdata(fiberposfile, upper=True)` in `load_fiberpos()` and why is `upper=True` *not* applied in `load_tiles()`?

[2016-06-07 19:31] sbailey commented on #15
We were trying to standardize upon data from FITS files looking like columns are all upper case (so retro...).  The FITS standard is case insensitive and astropy.io.fits automagically handles both upper and lower for the returned object, but if the data are ever cast to a astropy Table or a numpy array, it has to make a choice.

load_tiles() reads footprint/desi-tiles.fits which was written with I

[2016-08-17 18:37] weaverba137 commented on #15
Did fiberpos.fits ever get updated with UPPERCASE columns?

[2016-08-17 18:42] weaverba137 opened #19 "Get desimodel ready for Python 3"
In order to get desimodel ready for Python 3, we need to

- [ ] Move code that is currently in the bin directory into the Python package.
- [ ] Increase unit test coverage (and resolve #5).
- [ ] Resolve #15.
- [ ] Actually do the Python 3 conversion.

This would also be a good opportunity to resolve other desimodel issues, of which there are several, but these are not directly related to Python 3

[2016-08-17 18:43] weaverba137 commented on #17
Is there any movement on this issue?

[2016-08-17 18:44] weaverba137 commented on #4
Is this still an issue for desimodel, or is does the workaround completely fix the problem?

[2016-08-17 18:46] weaverba137 commented on #7
@dkirkby, I'm assigning this to you so that you can assign it to someone who can actually resolve this.

[2016-08-17 18:47] weaverba137 commented on #8
@sbailey, I'm assigning this to you so that you can assign someone to resolve this issue.  Clearly the more duplicate data we can remove, the faster it will be to install and test desimodel.

[2016-08-17 18:48] weaverba137 commented on #10
@dkirkby, I'm assigning this to you so that you can assign it to someone who can resolve this issue.

[2016-08-17 18:49] weaverba137 commented on #13
@sbailey, I'm hoping the situation has changed since March.

[2016-08-17 19:19] dkirkby commented on #4
There is still a non-critical action item to replace `row` with `pixel` in the FITS table units of `psf-quicksim.fits`.

[2016-08-17 19:47] weaverba137 opened #20 "Do desimodel scripts require fitsio for performance?"
There are several scripts currently in the bin/ directory that import fitsio.  Can these be replaced with astropy.io.fits, or are there performance reasons to use fitsio?

[2016-08-17 20:19] sbailey commented on #7
The difference between psf-quicksim and thru*.fits comes from the difference between what wavelengths all fibers see vs. the min/max that any fiber might see.  psf-quicksim uses the range for fiber 100 which is a "typical" case in between.  Quoting from a June 29, 2014 "Big desimodel update" email:

i.e. the throughput files cover what might happen for some fiber, while the psf-quicksim file cover

[2016-08-17 20:40] sbailey commented on #20
All of these could use astropy.io.fits instead, but that seems low priority.  In the context of the python3 conversion, I'm supportive of changes that make the conversion easier (e.g. adding unit tests), but I caution against making otherwise unnecessary cleanup changes while we are simultaneously trying to do before/after comparisons for python 2.7 vs. 3.5.

[2016-08-17 20:43] weaverba137 commented on #20
Since we are not certain of fitsio's Python 3 readiness, I would argue that converting to astropy.io.fits would make the conversion easier.

[2016-08-17 20:48] sbailey commented on #20
Late breaking news:
* fitsio v0.9.10 was tagged today including the latest py3.5 fixes
* Erin Sheldon confirmed by email that earlier tags also worked for py3.5 and this fix was a corner case involving variable length strings (which admittedly might impact us in the current-but-to-be-deprecated FILTER column of the fibermap table; I haven't checked)

[2016-08-17 22:17] weaverba137 commented on #7
OK, so where exactly should the documentation go?  In the data model for desimodel perhaps?  Or in desimodel's own documentation?

[2016-08-18 13:13] dkirkby commented on #7
There is some explanation now in the [DESI config file](https://github.com/desihub/specsim/blob/master/specsim/data/config/desi.yaml#L10) used by specsim:
[code]

[2016-08-22 18:14] weaverba137 commented on #7
If this documentation is sufficient, I propose we close this.

[2016-08-22 18:55] dkirkby commented on #7
Ok with me.

[2016-08-22 18:59] dkirkby commented on #20
The last time I checked, fitsio did not support any windows platforms. Do we make any claims about supported platforms for the desihub stack?

[2016-08-22 22:03] weaverba137 commented on #7
Closing.

[2016-08-22 22:03] #7 closed

[2016-08-23 17:10] weaverba137 commented on #19
Skipped a few of these items, but #21 takes care of the Python 3 stuff.

[2016-08-23 17:10] #19 closed

[2016-09-13 19:17] dkirkby opened #22 "Improve description of optical distortion"
This is a follow up to desihub/specsim#24, which now reads `data/focalplane/platescale.txt` from this package, and uses these blur and RMS offset values:
![distortion1](https://cloud.githubusercontent.com/assets/185007/18487778/66c04810-79ab-11e6-9ee8-547734f3f69e.png)

This issue is to provide a more detailed tabulation of the optical distortion that matches this graph from the "geometric blur" t

[2016-09-13 19:17] dkirkby commented on #22
@sbailey Are the data files in this package under change control?  What are the logistics of adding a new file?

[2016-09-14 00:19] dkirkby commented on #22
I can now reproduce the spreadsheet plot from numbers provided by Pat Jelinsky:
![spot-sizes](https://cloud.githubusercontent.com/assets/185007/18495887/2331caee-79d6-11e6-8b88-69870557dbe1.png)

[2016-09-15 17:52] sbailey commented on #22
We do not have a formal change control procedure for updating desimodel.  The guidelines are:

* Every number or file should be traceable to something in DocDB, including the version number of the DocDB entry (we haven't achieved 100% success with this, in particular for some of the numbers in `data/targets/targets.dat`.  But the hardware descriptions should be 100% traceable.
* When possible, har

[2016-09-16 17:06] dkirkby opened #24 "Update to latest DESI-doc revisions of data files"
The following files from DESI-0347 are currently based on v5 and need to be updated to v10:
- desi.yaml
- inputs/throughput/DESI-0347-throughput.txt

There are also files under inputs/throughput/DESI-0334-spectro from DESI-0334 v3, but that is still the latest version in DocDB.

The file focalplane/platescale.txt claims to be based on DESI-0329 v14, based on this header:

[code]

However, in the m

[2016-09-21 17:55] dkirkby opened #25 "Update code to define and apply the footprint"
We are using some new code based on healpix for area calculations and inside/outside tests to generate the end-to-end mocks.  The code is currently in a jupyter notebook, so this issue is to clean it up, add docs, and put it into this package.

[2016-09-22 22:55] weaverba137 opened #26 "Reading the README.rst file throws encoding errors on some systems."
I'm trying to test installs of desimodel on the new DESI+Anaconda infrastructure.

I'm using the desi-conda/3.5-20160913 module on both edison and datatran.  I'm also using the current desi-conda branch of desiutil.  On datatran, everything installs fine, but on edison, when the setup.py file tries to read the README.rst file, it complains:

[code]

In fact, if you look closely at the README.rst f

[2016-09-22 22:57] weaverba137 commented on #26
Hmmm, here's a possible clue.  On datatran, the environment variable `LANG=en_US.UTF-8`.  On edison I don't have `LANG` set at all.

[2016-09-22 23:00] weaverba137 commented on #26
And, I think I just answered my own question.

[2016-09-22 23:00] #26 closed

[2016-09-23 16:16] sbailey commented on #26
I also just removed the μ symbol from the README.  Although UTF-8 should be supported everywhere, in practice it isn't and there isn't really any benefit to have "μm" instead of "microns" in the README file.

Related: while preparing an optical distortion data file, we received a text file that was inherited from Mike Sholl, generated on Windows.  I could see it fine with μm units in gmail/safari

[2016-09-23 16:19] moustakas commented on #26
```um``` is another acceptable possibility for "microns".

[2016-09-29 19:40] weaverba137 opened #27 "Python random module is not consistent from 2 to 3."
This could impact, _e.g._ randomize_fibers.py.

Python 2:

[code]

Python 3:

[code]

It's possible that `numpy.random` _is_ consistent, but I haven't checked yet.

[2016-09-29 21:40] sbailey commented on #27
Well, that is irritating.  Python 3 looks worse and worse...

Adam and I confirmed that numpy is reproducible across python 2.7 and 3.5, e.g.
[code]

Another bizarre thing with the python system library random: on my laptop, the sequence I get from ipython is one element offset from the sequence I get from vanilla python:
[code]
and to continue the bizarreness, I get the python sequence from ipyth

[2016-09-29 21:40] sbailey commented on #27
wrong button; reopening until we've confirmed that we are using numpy.random throughout.

[2016-09-29 22:07] weaverba137 commented on #27
Further weirdness.  The fundamental function of the `random` module is `random.random()`; almost all the other functions depend on it.  In Python 2 & 3, it *does* appear to be consistent.

Python 2:

[code]

Python 3:
[code]

So maybe for `random.sample()` the way the list members are hashed is what matters?  Or maybe changes in how `range()` works?  I still agree with your guidelines though!

[2016-09-29 22:40] weaverba137 commented on #27
The `random.sample()` algorithm requires a random integer in the range [0,n).  Python 2 & 3 have different mechanisms for obtaining that random integer, and it looks like the different mechanisms call `random.random()` a different number of times.

[2016-11-19 22:24] sbailey opened #30 "desi-tiles.fits updates"
Several things to fix about `desi-tiles.fits` and how we use it:
* Column PROGRAM ended up with trailing spaces, e.g. 'DARK  ' instead of 'DARK'.  Either remove from the original file, or add filter to `desimodel.io.load_tiles` to strip trailing space.
* Updated `desi-tiles.fits` includes extra passes with PROGRAM='EXTRA' and IN_DESI=True.  These are currently returned by `desimodel.io.load_tiles(

[2016-11-20 19:18] djschlegel commented on #30
Stephen- I did follow the FITS convention for unsigned INTs, by storing as TFORM='I'
with the TSCAL,TZERO keywords set to define the offsets between unsigned and signed int.
But that is certainly awkward and prone to error, so could switch OBSCONDITIONS to signed int?

The padding of PROGRAM with trailing blanks is a problem when generating FITS files
with MWRFITS.  Let me know if you need this fi

[2016-11-21 02:52] sbailey commented on #30
I posted this last night but either it didn't succeed or I posted it to the wrong issue:

The OBSCONDITIONS issue appears to be yet another astropy bug.  Reading in the original table has the type as 'i2' (rather than 'u2'), but pulling out just that column strangely converts it to 'f8', as does converting it to an `astropy.table.Table`:
[code]
A signed 32-bit integer might be more robust, even if

[2016-11-21 20:25] weaverba137 commented on #30
I think this is another gotcha from using `astropy.io.fits.getdata()`.  When I use the recommended method for opening FITS files, I don't see a problem with OBSCONDITIONS.

[code]

[2016-11-21 20:30] weaverba137 commented on #30
Also, I'm not seeing the trailing space in the PROGRAM column.
[code]

[2016-11-21 20:33] weaverba137 commented on #15
As noted in #30, the use of `fits.getdata()` may be causing problems, and it is probably time to get rid of it.  So, as previously asked, dit the fiberpos.fits file ever get updated to have uppercase columns?

[2016-11-21 21:48] weaverba137 commented on #30
Aha, the *actual* cause of `float64` appearing is `onlydesi=True`.  If you use `load_tiles()` with `onlydesi=False`, the type is correctly set to `uint16`.  It may also have to do with the *order* in which `load_tiles()` is called with different values of `onlydesi`.

[2016-11-21 22:12] weaverba137 commented on #30
This is *really* weird, but this problem really does seem to depend on the order in which `load_tiles()` is called.  This snippet succeeds:

[code]

But all I have to do is change `tiles1 = load_tiles(True)` and it fails on the first `assert`.

[2016-11-21 22:33] sbailey commented on #30
Under the hood in `desimodel.io.load_tiles()` it is caching the data from the file so that it is only read once.  The `onlydesi` filter is done on the fly every time.  I'm mystified why/how that filtering could change the OBSCONDITIONS dtype, however, and why the order would matter.

[2016-11-21 22:43] weaverba137 commented on #30
Indeed, and not only does it appear to depend on the order, I'm also finding inconsistent results when running the snippet above alone, versus running a similar test in test_io.py, *i.e.* in a formal unit test.

[2016-11-22 00:17] weaverba137 opened #31 "The testing branch(es) versions of desi-tiles.fits do not contain OBSCONDITIONS column"
Based on #30, I'm trying to run tests on the OBSCONDITIONS column, but the testing branches used for Travis tests do not contain that column.

[2016-11-22 00:18] sbailey commented on #31
I also just noticed that.  I'm in-process with generating a new tag, including a new test-0.5.0 branch that will include that column.

[2016-11-22 00:50] weaverba137 commented on #30
I'm starting to see some light.  My current theory goes like this:

1. When `load_tiles()` is first called, it loads the data just fine.
2. However, just *loading* the data is not sufficient to trigger some of the internal mechanisms that `astropy.io.fits` uses to handle unsigned integer columns (and scaled columns in general).  Some sort of access to either the data itself or the object's dtype i

[2016-11-22 01:00] weaverba137 commented on #30
OK, tests are passing in my git checkout, though Travis tests still need the updated file as mentioned in #31.

[2016-11-22 01:11] sbailey commented on #31
https://desi.lbl.gov/svn/code/desimodel/branches/test-0.5.0 now has a desi-tiles.fits file with OBSCONDITIONS.  Full tagging/branching commands below.
[code]

[2016-11-22 01:11] #31 closed

[2016-11-22 01:12] sbailey commented on #30
You should be good to go using the test-0.5.0 branch.

[2016-11-22 22:29] sbailey opened #32 "targets.dat updates"
Some updates for `targets.dat`:
* Review numbers in there and update as needed, including DocDB references
* Consider renaming to `targets.yaml` since it is a yaml file
* Add a `desitarget.io.read_target_info` I/O wrapper so that people aren't indentifying the location and reading that file by hand

[2016-11-24 00:46] sbailey commented on #30
I stripped the training whitespace from the PROGRAM column with the following python code snippet:
[code]
There were some minor changes to the comments on required header keywords from IDL vs. astropy.io.fits, but otherwise the files were identical except for the PROGRAM column having whitespace or not.  I renamed blat.fits to desi-tiles.fits and committed to svn.

I also verified that the int32 O

[2016-11-30 00:18] #30 closed

[2016-12-01 06:04] sbailey commented on #20
Answering @dkirkby's question from a few months ago:
We support Linux and Mac and do not support Windows (though I don't know if we've written that down anywhere).

For the record: We still have some historical fitsio code in some DocDB -> data reformatting scripts, but let's not change that unless it actually is a problem (if it is, open a new issue with the details).  It's not needed for perform

[2016-12-01 06:04] #20 closed

[2016-12-19 22:19] #15 closed

[2017-01-03 22:23] martinjameswhite opened #35 "In_DESI code."
Write a piece of code to return whether or not a set of RA/DEC lies within the DESI footprint using the "official" DESI tiles.

[2017-01-04 00:45] dkirkby commented on #35
Is this a duplicate of #25?

[2017-01-04 03:22] martinjameswhite commented on #35
David,

Closely related, but I don't think a full duplicate.  Stephen requested
some code which would do the footprint directly based on the list of tile
centers, just applying the "am I in a disc of 1.6 degrees from this center"
test.  I already have C++ code to do this for the mocks (in MockingDESI)
but the issue was more "packaging" and Python compatability.  Stephen
wanted something easily cal

[2017-01-04 03:31] rncahn commented on #35
Martin,

How precisely defined is "in the footprint"?  Does that mean a fiber can
actually reach it?

Bob

On Tue, Jan 3, 2017 at 2:23 PM, Martin White <notifications@github.com>
wrote:

[2017-01-04 05:13] martinjameswhite commented on #35
Bob,

A point is defined to be within the footprint if it is within 1.6 degrees of a tile center (as contained in the "official" FITS file).  It does *not* mean that a fiber can actually reach it, or that the imaging will have sufficient depth, or it is far enough from the nearest bright star or whatever.

Martin.

[2017-01-04 05:16] martinjameswhite commented on #35
When we wrote the mock making code for BOSS (and when we implemented mksample for that matter) we defined in_survey to return not a boolean but rather an integer.  This was modeled on the old Unix convention that returning 0 meant "success" and higher numbers indicated what went wrong -- for example not in the footprint, too close to a bright object, "scratches" in the imaging, etc.  The code ran

[2017-01-04 06:00] rainwoodman commented on #35
Margin, I imagine another function that combines the output of this and a variety of other functions (too close to a bright object, scratches in the imaging etc) into a bitmask. Stephen already has some sort of mask like this.

[2017-01-04 16:43] dkirkby commented on #35
I sent Stephen (and others) the notebook mentioned in #25 with the relevant code just before the OSU meeting, but we were all preoccupied with final checks on the end-to-end data challenge simulations.  I will copy the relevant code to #37 today.

[2017-01-05 22:45] rainwoodman commented on #10
what about returning a dict instead of a file? It sounds strange to serialize and deserialize; plus the load_config API can't handle string input anyways.

[code]

[2017-01-05 23:54] rainwoodman opened #39 "Error near the end of tests"
When I run setup.py test on my own computer (python 2.7) i see this error at the end:
[code]

[2017-01-06 00:05] rainwoodman commented on #39
It is related to the fits table _tiles cached in the io module.

My astropy is too old (1.1.2); updating to 1.3 solves this issue.

Here is the backtrace:

[code]

[2017-01-06 00:05] #39 closed

[2017-03-16 00:59] dkirkby opened #41 "Fix angular size of random offset maps"
Segev BenZvi just noticed that the random offsets generated and saved by `doc/nb/DESI-0347_Throughput.ipynb` only cover a square region that is 1.6deg on a side (due to my confusion between field-of-view and cone opening angle).  This issue is to update the notebook and re-make the 3 sample realizations (which live in the svn repo for this package).

[2017-03-16 01:01] dkirkby commented on #41
For reference, `specsim` interpolates random offsets from these files using [scipy.interpolate.RectBivariateSpline](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.RectBivariateSpline.html), which appears to silently return the closest grid point when asked to extrapolate (although I can't find this documented anywhere).

[2017-03-16 01:19] #25 closed

[2017-03-16 01:20] dkirkby commented on #22
Just waiting for Pat/Bobby/Tim to add the data file to DESI-347 in DocDB before closing this issue...

[2017-03-16 23:53] #41 closed

[2017-03-20 22:01] sybenzvi opened #46 "Feature request: add capability to dither"
Hi there,

Last week @sbailey and I discussed adding a dithering feature to the specsim code. Currently the code (through desimodels) allows for specification of the position of the spot on the focal plane, but as far as I can tell it doesn't allow dithering around a source. So I'd like to add this, but before making any changes, a few questions:

1) I think desimodels is the place to make this ad

[2017-03-20 22:50] dkirkby commented on #46
This sounds like a straightforward feature to add in specsim, without requiring any changes to desimodel, so I suggest opening a specsim issue and we can discuss further there.

[2017-03-21 01:07] sybenzvi commented on #46
Will do. Closing the issue here and moving it to specsim.

[2017-03-21 01:07] #46 closed

[2017-03-24 00:05] sbailey commented on #24
PR #45 updates:
  * desi.yaml
  * throughput files, with refactoring from original inputs/throughput/DESI-0347-throughput.txt
  * platescale.txt
  * fiberpos.*

platescale.txt provenance: the v15 (and prior) file in DocDB incorrectly references v3.  The data actually has changed since v3 (they caught a tan(theta) vs. theta bug) and the latest text file does contain the correct data, it is only the

[2017-05-04 23:38] weaverba137 commented on #32
See also desihub/desidatamodel#30.

[2017-05-04 23:39] weaverba137 commented on #13
See also desihub/desidatamodel#30.

[2017-05-04 23:40] weaverba137 commented on #8
Please clean up these duplicate files, because creating multiple data models for these files is absurd!

[2017-05-04 23:41] weaverba137 commented on #4
Can we please resolve this issue so the data model for these files can be finalized?

[2017-05-04 23:41] weaverba137 commented on #10
Can this be resolved so that we can create (or *not* create) a data model for the file(s)?

[2017-05-04 23:42] weaverba137 commented on #22
Did this ever get resolved?  We need to know if there are changes to theses files coming that will in turn change the data model.

[2017-05-04 23:48] weaverba137 opened #47 "spectra/README file"
The data/spectra/README file contains mostly *code*.  Is the code actually checked in anyhere?  In *this* repository for example?  If not, it should be checked in somewhere, and any comments in the file included as documentation of the code.

[2017-05-04 23:50] weaverba137 commented on #24
Did the updates ever happen?  Will the changes also involve changes to the data model?

[2017-05-04 23:51] weaverba137 commented on #17
Did this ever get reviewed?

[2017-05-04 23:57] weaverba137 opened #48 "Please help describe the data/spectra files"
There appear to be only two types of files in the data/spectra directory: `spec-` and `sn-spec-`.  Is it safe to assume that all files of a given type have the same format?  Is there a document (*e.g.* in DocDB) that describes all these files?

This directory also contains one of the duplicate KPNO files (#8) and a couple of README files (#47) that should be moved to more high-level documentation

[2017-05-04 23:59] weaverba137 opened #49 "Why do some spectra files need to be in a subdirectory (LyaSNR)?"
The data/spectra directory contains a subdirectory, `LyaSNR`, that contains files which appear to have the identical format to data files in the directory above.  There is no possibility of name collision, so why is this directory necessary?  This makes describing the data model for these files more complicated.

[2017-05-05 00:38] dkirkby commented on #24
PR #45 has already been reviewed and merged, so I think this issue can be closed now but @sbailey should confirm.

[2017-05-05 00:40] dkirkby commented on #22
I am reassigning to @sbailey since I have already provided the file so the next step is to knock on some doors.

[2017-05-05 00:44] dkirkby commented on #4
@sbailey is the owner of the code that generates `psf-quicksim.fits` but this issue is not blocking anything as far as I know.  This might be a case where the datamodel should document the current units, and then we will update the datamodel when / if the units are eventually changed.

[2017-05-05 00:46] dkirkby commented on #10
I can take care of this but I'm not sure if this is still the direction we want to go.  @sbailey ?

[2017-05-05 08:07] andreufont commented on #49
@weaverba137 These files are used (by Pat McDonald and myself) to compute Fisher forecasts for Lyman alpha in DESI, I'm not sure if anyone else uses them.

There are older files (like desimodel/data/spectra/sn-spec-lya-20.25.dat) that are obsolete, since they used an older version of the DESI throughput.

At the time I made the new files I wasn't sure whether anyone was using the old files, so I d

[2017-05-05 14:49] dkirkby commented on #49
@andreufont I think we should remove this files from desimodel and instead put the script to generate them with specsim into an igmhub package.  That would allow us to always generate them on the fly with the latest throughputs, fiberloss fractions, etc (which have changed quite a bit) and also generate corresponding eBOSS SNR files (once @belaa has finished her project to adapt specsim for eBOSS)

[2017-05-05 18:27] andreufont commented on #49
@dkirkby The script I used was written by you, and it is already in the right place (I think): desihub/desimodel/bin/desi_quicklya.py.
I haven't used it in over a year, and I'm not even sure it is working now (I just tried to do what I think I did last time, but it crashes).
While I agree that it would be great to be able to compute whatever SNR you need on the fly, the current Fisher forecast cod

[2017-05-05 18:44] weaverba137 commented on #49
While this is being resolved, let return to the initial question.  If, as you say:

Why not just replace those files with the files in LyaSNR?  This is an svn repository after all, & the old files will still be there in the older versions.

[2017-05-05 18:47] andreufont commented on #49
@weaverba137 When I did this I had no idea how desimodel was organized and whether anyone was using those files, and I didn't want to modify other's results. It started with me just playing around, but then we decided to use the new files for our Fisher forecast and I had to add the files to svn...
But yes, I think now we could safely remove the old files and move the files in LyaSNR to the main f

[2017-05-05 18:53] dkirkby commented on #49
The newer Lya SNR files are most likely also out of date.

On Fri, May 5, 2017 at 11:52 AM Andreu Font-Ribera <notifications@github.com>
wrote:

[2017-05-05 18:57] andreufont commented on #49
Sure. And so is the quasar luminosity function used for the forecasts.
I found some time to work on a new python-based forecast code, but it is more complicated than I was hoping for and I'm not really close to finished :-(

[2017-05-09 18:35] #24 closed

[2017-06-01 00:22] weaverba137 opened #51 "ReadTheDocs builds time out"
After the most recent merge, the automated documentation build on ReadTheDocs failed with a time out.  This may be due to the addition of healpy as a dependency.  It looks like we will need to separate the requirements into those required to run unit tests versus those required to build the documentation.

[2017-06-01 16:43] weaverba137 commented on #51
Should be fixed in 98f24ce.

[2017-06-01 16:43] #51 closed

[2017-06-05 23:10] sbailey commented on #35
Fixed via PR #37.

[2017-06-05 23:10] #35 closed

[2017-06-13 20:11] weaverba137 commented on #49
Adding label 'data model' note that fixing this issue will also involve changes to the data model.

[2017-06-13 20:11] weaverba137 commented on #48
Adding label 'data model' note that fixing this issue will also involve changes to the data model.

[2017-06-13 20:12] weaverba137 commented on #47
Adding label 'data model' note that fixing this issue will also involve changes to the data model.

[2017-06-13 20:13] weaverba137 commented on #8
Adding label 'data model' note that fixing this issue will also involve changes to the data model.

[2017-06-13 20:13] weaverba137 commented on #4
Adding label 'data model' note that fixing this issue will also involve changes to the data model.

[2017-06-13 20:15] weaverba137 commented on #22
Adding label 'data model' note that fixing this issue will also involve changes to the data model.  If that is *not* the case, please remove the label.

[2017-06-14 22:32] andreufont commented on #49
Ben, I just talked to Pat (the only other user of these files), and he is fine if we move the files from the current subfolder to the main folder where the other snr files are. We can also remove the old sn-spec-lya-* files.

[2017-06-14 23:32] weaverba137 commented on #49
OK, thanx.  We should coordinate this with the next tag of desimodel.

[2017-06-20 15:31] weaverba137 commented on #49
Fixed in #53. Will close this once the changes are implemented on the svn side.

[2017-06-20 21:50] andreufont commented on #49
Extra Lya SNR directory has been deleted from SVN.

[2017-06-20 21:55] weaverba137 commented on #49
Very good.  Closing.

[2017-06-20 21:55] #49 closed

[2017-06-21 23:21] andreufont opened #54 "Fix desi_quicklya.py"
This short code in desimodel/bin/desi_quicklya.py is used to generate Lya SNR files that are then used in Fisher forecast.

I added this code two years ago, heavily based on quicksim.py by David Kirkby. However, it doesn't work now since it is trying to load an old module (desimodel.simulate) and the original, and I believe the original code quicksim.py does not exist.

It is not a priority, but i

[2017-09-13 18:33] dkirkby opened #63 "Add option to override tiles filename"
The function `desimodel.io.load_tiles()` provides a helpful single entry point for loading tile centers
and ensures consistently across packages. However, there are use cases (e.g., small regression tests) where we would like to define a different small subset of tiles that are used consistently by all code using this entry point.  This issue is to support this use case by adding an additional opt

[2017-09-13 18:35] dkirkby commented on #63
This will eventually be the solution to desihub/desisurvey#51.

[2017-09-14 01:43] weaverba137 opened #65 "desimodel 0.8.0 does not have a corresponding testing branch"
There is no test-0.8.0 branch in the svn repository.

[2017-09-17 04:53] #63 closed

[2017-09-27 15:37] weaverba137 commented on #48
@sbailey, is there any particular reason this is stalled?  Feel free to reassign in necessary.

[2017-11-08 18:59] weaverba137 opened #69 "Tiles file does not assign units to RA, Dec."
The desi-tiles.fits file does not assign units to RA, Dec.  These units should be degrees.  Also, `STAR_DENSITY` sounds like it should also have units of some kind (arcmin^-2 ?).

[2017-11-26 15:17] dkirkby opened #70 "Update solar spectrum?"
Carlos Allende Prieto has suggested that we adopt the HST CalSpec solar spectrum:

  http://www.stsci.edu/instruments/observatory/cdbs/calspec.html

to replace the current `data/sky/solarspec.txt`.  This came up in the context of the `specsim` scattered moon and twilight sky emission models.  Quoting from Carlos:

I have not had a chance to look into this yet (and it does not seem urgent) but chim

[2017-11-26 23:07] rblum5 commented on #70
We could compare to the Kitt Peak FTS solar spectrum as well.

On Sun, Nov 26, 2017 at 3:17 PM, David Kirkby <notifications@github.com>
wrote:

[2017-11-27 10:30] callendeprieto commented on #70
I don't think the FTS has much flux/SED information. The 1994 Kurucz et al. version was calibrated using the low-res. Neckel & Labs data.

[2017-11-27 13:08] rblum5 commented on #70
Right.

On Mon, Nov 27, 2017 at 10:30 AM, callendeprieto <notifications@github.com>
wrote:

[2017-11-28 15:17] dkirkby opened #71 "Update BGS n(z)"
The [existing BGS n(z)](https://desi.lbl.gov/svn/code/desimodel/trunk/data/targets/nz_BG.dat) is out of date.  This issue is to propose and finalize an update (however, since these files live in SVN, the update itself will not involve a PR).

Alex Smith has provided separate files `nz_bgs_bright.dat` (r < 19.5) and `nz_bgs_faint.dat` (19.5<r<20.0) from v0.0.4 of MXXL HOD mock in a suitable format.

[2017-11-28 15:42] dkirkby commented on #71
Copying a question from @moustakas to @amjsmith in desi-bgs:

about an 0.1-magnitude shift between the two filter curves, which will
affect the distribution and overall normalization (but perhaps not at
a level we care about).

Whatever the answer, the headers of these files should be updated to specify the filter used.

[2017-11-28 16:43] amjsmith commented on #71
These samples are selected in the SDSS r-band. Below are attached new versions of these files where I've changed the file headers to specify that the filter is SDSS. I've also attached files where the samples are selected in the DECaLS r-band. Note that I had to change the file extensions from .dat to .txt to upload them here, and feel free to rename them.

For the DECaLS r-band selected samples,

[2017-11-28 18:49] dkirkby commented on #71
Presumably DECam-r is what we want here, since that's what the imaging surveys use?

[2017-11-30 15:43] amjsmith commented on #71
In desi-bgs, Shaun Cole said

I've attached new versions of the files, in the same format as before, but adjusted the magnitude limits so that the number densities are 800 and 600 per sq deg for the bright and faint samples. In the SDSS r-band, this corresponds to r < 19.5255 and 19.5255 < r < 19.9957.

[nz_BGS_bright_800.txt](https://github.com/desihub/desimodel/files/1518373/nz_BGS_bright_800.tx

[2017-11-30 22:40] djschlegel commented on #71
Alex-  The DESI imaging catalogs only have a single flux measure, so there's no choice to make there.  SDSS Petrosian magnitudes were designed for the SDSS main sample (rPetro < 17.6), and won't be particularly well-behaved at much fainter magnitudes as they become an unstable parametric fit.

I find that r < 19.5 selects about 550 extended sources per sq deg in DECaLS DR5.  But such a sample exte

[2017-12-13 16:50] weaverba137 commented on #65
We've skipped ahead to desimodel 0.9.x, so this is moot.

[2017-12-13 16:50] #65 closed

[2018-01-19 15:37] weaverba137 commented on #8
There are actually *three* extinction files.  In addition to those mentioned above, there is inputs/throughput/ZenithExtinction-KPNO.fits.

[2018-01-22 22:03] weaverba137 opened #72 "Install desimodel data to INSTALL_DIR, not WORKING_DIR"
We are considering eliminating the "copy" stage from desiInstall.  In order for desimodel to continue to work, the script etc/desimodel_data.sh should install to `$INSTALL_DIR`, not `$WORKING_DIR`.  See also desihub/desiutil#97.

[2018-02-23 17:58] weaverba137 opened #75 "Eliminate verbose output from desimodel_data.sh"
The script that fetches the extra data associated with desimodel, etc/desimodel_data.sh, is run with `#!/bin/bash -x`.  The extra debugging output may be interpreted by desiInstall as an error message, and prevent normal installation.

[2018-02-23 18:04] weaverba137 commented on #75
Additional note.  In addition to `-x`, the script also sets `-e`, which causes the script to exit on any non-zero return code.

This line:
[code]
and specifically `[[ -z "${DESIMODEL}" ]]` returns 0 during Travis tests, but 1 during desiInstall, because desiInstall has already set `$DESIMODEL`.  In other words, the existence of `$DESIMODEL` causes the script to fail.

[2018-02-28 01:14] sbailey opened #76 "Create new test branch with data/throughput/galsim-fiber-acceptance.fits"
Update `desimodel.trim_data(indir, outdir)` to include `data/throughput/galsim-fiber-acceptance.fits` in the output dataset, and make a new `test-0.9.2` branch to use for travis testing.  In the meantime travis tests can use the 0.9.2 svn tag, but that is much larger to download and slower to use.

[2018-03-06 18:59] weaverba137 commented on #76
Indeed, I just ran into this while testing my branch.  Had to go back to trunk.

[2018-03-06 23:11] #72 closed

[2018-03-06 23:11] #75 closed

[2018-03-12 16:27] weaverba137 commented on #76
`data/footprint/desi-healpix-weights.fits` is also missing.

[2018-03-12 19:04] weaverba137 commented on #76
@geordie666 I have a question about `desimodel.footprint.pixweight`. I tried to create a trimmed version of `desi-healpix-weights.fits` using the trimmed tile list created by `desimodel.trim.trim_footprint`.  However, the resulting file was exactly the same size as the original.  Is that expected?  What is the correspondence between the weight values and the tiles?  Is there another way to reduce

[2018-03-12 19:09] weaverba137 commented on #76
@geordie666, never mind, I just needed to reduce the `nside` parameter.

[2018-03-14 18:07] #76 closed

[2018-05-11 18:24] weaverba137 opened #81 "desimodel has a hidden dependency on xlrd"
`desimodel.inputs.docdb` uses the package `xlrd`.  It's OK that the dependency is optional, but it needs to be documented, and declared in .travis.yml so that tests can be run on `desimodel.inputs.docdb`.

Is xlrd available as an Anaconda package?

[2018-05-11 19:07] weaverba137 commented on #81
PS, `requests` is another dependency hidden inside `desimodel.inputs.docdb`.

[2018-05-14 17:11] sbailey commented on #81
The requests and xlrd dependencies are related to pulling engineering excel files from DocDB and extracting their contents into a more python/scientist-friendly format for desimodel/data.  It would be good to have standard tests / fully documented procedures for that, but I don't think we need to take it to the level of travis testing:  Dealing with the docdb credentials in a secure way would be a

[2018-05-14 18:09] weaverba137 commented on #81
That sounds fair to me.  In fact, just by *importing* the modules in the `desimodel.inputs` subpackage, I was able to increase the test coverage from 0 to ~10-15%.

[2018-05-14 18:42] weaverba137 commented on #81
@sbailey, PS, is xlrd an Anaconda package, or does it have to be installed by `pip` or some other means?

[2018-05-15 17:34] weaverba137 commented on #27
Does anyone care about this issue?  We're weeks away from dropping Python 2 entirely, so it doesn't seem relevant anymore.

[2018-05-15 17:37] sbailey commented on #81
@weaverba137 it is available via `conda install xlrd`.

[2018-05-15 18:29] sbailey commented on #27
Agreed.  Closing this ticket, while reiterating the guidelines:

* don't use the python system library random
* use numpy.random instead
* this is crazy

[2018-05-15 18:29] #27 closed

[2018-05-17 01:21] #81 closed, assigned to sbailey

[2018-05-26 06:53] moustakas opened #83 "how do we generate non-standard tiles / pointing centers?"
Specifically in the context of commissioning and survey validation, how should non-standard tiling centers be generated and stored?

The nominal tiles are stored in $DESIMODEL/data/footprint as `desi-tiles[.ecsv][.par][.fits]` but it's likely these were generated using a combination of IDL code and "by hand" (although perhaps I'm wrong!).

How should we make non-standard pointings?

[2018-06-08 19:12] sbailey opened #84 "sign flip in desimodel.focalplane.radec2xy and xy2radec"
fiberassign has a sign flip in the transformation from (RA,dec) -> (x,y).

The transforms should be:
* Larger RA -> smaller (more negative) X (fiberassign has the opposite)
* Larger DEC -> larger (more positive) Y (fiberassign is correct here)

See [DESI-0481](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?docid=481) and [DESI-0742](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?

[2018-06-11 17:12] sbailey commented on #84
**Note**: I just updated the description of the original post to correct that the problem is with `desimodel.focalplane.xy2radec/radec2xy` *and* fiberassign, not just double reporting the fiberassign problem.  I'm working on fixing it here in desimodel and will coordinate with some combination of @forero @tskisner and @rncahn to get it fixed on the fiberassign side (desihub/fiberassign#118).

[2018-07-12 14:56] dkirkby opened #88 "Update to current DESI-doc versions"
v13 of [DESI-347](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument) was released 26-Jun-2018 with the following release notes:
[code]

Currently (12-July-2018), desimodel is based on v12 of DESI-347.  The git package is at tag [0.9.5](https://github.com/desihub/desimodel/releases/tag/0.9.5) and the most recent revision [118070](https://desi.lbl.gov/trac/log/code/desimodel/trunk/data/targets

[2018-07-13 10:07] dkirkby commented on #88
Following the instructions in [How to update inputs from DocDB](https://github.com/desihub/desimodel/blob/master/doc/update_inputs.rst), the relevant inputs are:

| DESI-nnn | DESIMODEL | Latest in DocDB | Updater                    |
|-----------|-------------|-----------------|---------------------|
| DESI-530 | v13               | v14                      | `desimodel.inputs.gfa.build_gfa_table

[2018-07-13 10:17] dkirkby commented on #88
The `build_gfa_table` docstring says:
[code]
However, these cell references look like they describe v14 not v13.  Also, the values in these cells:
[code]
do not match those in the spreadsheet:

| active area corner | X | Y | Z
| -- | -- | -- | -- |
| N0 (ctr) | 333.738 | 217.766 | -20.055 |
| N1 | 318.529 | 225.702 | -19.266 |
| N2 | 330.901 | 234.691 | -20.699 |
| N3 | 348.947 | 209.830 | -20.844

[2018-07-13 10:32] dkirkby commented on #88
The `fiberpos.update()` function needs to updated for a change in structure to the **PositionerAndFiducialLocations** tab of DESI-530-v14 but it looks like the numbers have not changed.

[2018-07-13 12:45] dkirkby commented on #88
The throughput changes from v12 to v13 are mostly at the negative few percent level and largest in the NIR band:

![throughput-v13](https://user-images.githubusercontent.com/185007/42692238-475832da-86ab-11e8-9922-ce7e1f815307.png)

The effective bandwidth (integrated throughput) has decreased by ~20, 25, 40A in the b,r,z cameras:

| version | b total | r total | z total |
|---------|---------|---

[2018-07-13 13:15] dkirkby commented on #88
Other changes that affect our simulations are:
 - Blur (row 27 of **Throughput** tab) is a bit smaller, e.g. 13.77um to 12.86um at 500nm:
   - "M1/Barrel GFA error static defocus (1-d)" (row 18) has increased from 0.667um to 3.990um.
   - "Blur due to total fiber defocus" (row 26) has decreased from 4.035um to 3.544um.
 - CCD noise and dark current on **Noise** tab:
   - blue read noise increased

[2018-07-13 15:02] dkirkby commented on #88
The file `DESI-0347_blur.ecsv` uses the achromatic blur contributions from DESI-347, which has the three changes listed above.  The net result is that the achromatic blur has decreased from 9.206um to 7.789um.  This validation plot was produced by an updated version of the `DESI-0347_Throughput` notebook:

![validation](https://user-images.githubusercontent.com/185007/42697111-7b3e9224-86ba-11e8-8

[2018-07-13 15:11] dkirkby commented on #88
The `desi.yaml` noise values are confusing since I cannot explain the values currently in the file, which originated in DESI-347-v4 (which had no **Noise** tab).  In any case, I will update to the latest (v13) values.

| Noise Source | Band | yaml v4 | yaml v12 | noise tab v12 | noise tab v13 |
| -- | -- | -- | -- | -- | -- |
| Readout         | b  | 2.5 | 3.0 | 3.0 | 3.4 |
|

[2018-07-13 15:50] dkirkby commented on #88
Here is a summary of the files I updated in svn under $DESIMODEL/data:

| File | Comment | Revision |
|--|--|--|
|  `throughput/thru-[brz].fits` | new corrector coatings | [118094](https://desi.lbl.gov/trac/changeset/118094/code) |
|  `throughput/DESI-0347_blur.ecsv` | new achromatic blurs |  [118095](https://desi.lbl.gov/trac/changeset/118095/code) |
| `desi.yaml` | new read noise and dark curren

[2018-07-13 16:53] sbailey commented on #88
@dkirkby thanks for this systematic review and update.

Regarding the GFA locations, I confirm that the `update_inputs.rst` and `desimodel.inputs.gfa.build_gfa_table` docstring description are out of date, referencing the wrong cells.  This is further confused by DESI-0530 describing the GFA location of petal 3, while the numbers in `desimodel.inputs.gfa.build_gfa_table` are transformed to petal 0

[2018-07-13 17:08] dkirkby commented on #88
@sbailey That sounds like a good plan re GFA locations. Please go ahead with the changes in this branch.

Is there anything else you think needs updating in `desi.yaml`?  How do we back-propagate the new `desi.yaml` to DESI-347? (or do we not bother since its only purpose AFAIK is to forward propagate into DESIMODEL)

[2018-07-13 17:20] dkirkby commented on #88
Note that if we decide to abandon the DESI-347 version of `desi.yaml`, we also need to update `desimodel/inputs/throughput.update()` so that it no longer copies this file to `$DESIMODEL/data/`.

[2018-07-18 11:05] #88 closed

[2018-09-20 16:30] sbailey opened #94 "fix code and tests for new desi-tiles.fits"
The new desi-tiles.fits file broke some code and tests due to multi-dimensional columns and shuffling which layers are which program.  Self assigning to fix at high priority, while putting into a ticket for tracking.

[2018-11-07 22:46] dkirkby opened #96 "Update to throughputs in v16 of DESI-347"
The latest version v14 (24 Oct 2018) uses the average as-built throughputs of 5 spectrographs:

  https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?docid=347

This issue is to update the corresponding files in DESIMODEL. (Note that v14 has not yet been officially approved.)

[2018-12-06 18:48] moustakas commented on #71
This issue has remained open far too long and I've found myself with the need for a proper BGS dn/dz in `desimodel`.  Unless there are any objections I'm going to check @amjsmith's most recent distributions into `desimodel/data/targets` as `_bgs_bright.dat`, `_bgs_faint.dat` and `_bgs.dat` (the sum of the two distributions), and remove the `_BG.dat` file as being obsolete.

This will likely break

[2018-12-06 19:07] moustakas commented on #71
OK, changes have been checked into the `desimodel` SVN, which probably means we need a new tag for `18.12`.  Do we want to update any of the other `dn/dz` files while we're at it?

![bgs](https://user-images.githubusercontent.com/1431820/49605984-12a85b00-f960-11e8-89f9-65c0e56dd36c.png)

[code]
Note that I put in the following header comment by hand:
```# Number of BGS galaxies (r_SDSS < 19.9957)

[2018-12-06 19:11] moustakas commented on #71
Actually, it looks like `desisim.targets.sample_nz` doesn't read / use `nz_BG.dat`, so I think we're set.

@sbailey @dkirkby if all this looks OK please let's close this issue.

[2018-12-10 19:24] sbailey commented on #71
Looks ok; closing.  Re-open or re-post if new problems come up.

[2019-02-06 20:50] tskisner opened #97 "When loading tile file, check existance before looking in data folder"
Currently loading a tile file in the current working directory fails, because it treats all bare filenames as relative to the package data directory:
[code]
Instead it should check if the path exists first.  I have already fixed this in a branch.  PR coming.

[2019-02-06 21:12] sbailey commented on #97
The intended usage if you want to force it to get a local copy is:
[code]
In particular we don't want cases like
[code]
to be ambiguous about whether a local copy is overriding the standard copy or not.

i.e.
* no path = get it from $DESIMODEL/data/footprint
* with path = get it from the location specified by the path

Would that meet your needs?

[2019-02-06 21:16] tskisner commented on #97
I guess that behavior was quite surprising to me.  The docstring says:
[code]
I passed in the name of a file to load and it raised an exception because it was looking in the package data directory.  If this behavior is intended, then we should at least change the docstring, and I will do additional checks in fiberassign to warn the user what is happening if they pass the name of a tile file that e

[2019-02-06 21:21] sbailey commented on #97
I think the docstring reflects the intended usage (which I agree is not what was actually implemented).  A key detail is that without a path, `$DESIMODEL/data/footprint/filename.fits` still trumps local `./filename.fits`.  I think PR #98 does the opposite of that (local copy trumps $DESIMODEL copy).

I'm ok with falling back to checking for a local copy if a $DESIMODEL copy doesn't exist, but I do

[2019-02-06 21:36] moustakas commented on #97
I think I disagree with this statement.  Presumably, all tile files kept in $DESIMODEL will have fixed names and a well-established provenance (and any missing files are presumably due to a borked installation of desi software, but if that happens then that's probably the least of the user's worries), and all file names can be generated via a small number of keywords (e.g., bright=True).

Alternat

[2019-02-06 21:46] sbailey commented on #97
At minimum we should expect $DESIMODEL to have tiles files for commissioning, sv, and the main survey.  Beyond that, I'm not sure, but I would like to be able to retain the ability to specify a specific filename in $DESIMODEL without making special case options for each one, and without risking having a local file by the same name silently (and perhaps accidentally) override it.

@moustakas did yo

[2019-02-06 21:49] tskisner commented on #97
There needs to be some disambiguation between a file in the current working directory and a file with the same name in desimodel footprint.

What about raising an exception in the case tilesfile="blah.fits" and blah.fits exists both locally and in desimodel.  This would force the user to either move their local file out of the way (if they did not want to use it) or be more explicit by specifying

[2019-02-07 03:33] tskisner commented on #97
I just pushed a change to the PR:

- Check if the local file exists
- Check if the file in $DESIMODEL/data exits
- If neither exists, raise an exception
- If one exists, read it
- If both exist, print a warning and choose the one from $DESIMODEL

Does that sound reasonable?

[2019-02-10 09:15] Srheft opened #99 "Trimming target file using desimodel.footprint.find_points_in_tiles() for fiber assignment"
@sbailey : this is more of an inquiry than a ticket so please close it if irreleant.

Using  **desimodel.footprint.find_points_in_tiles()** to trim the input targets for fiberassignment, could lead to unassigned fibers on edges of the tiles in low density fields. In other words, passing a **not exactly cut-to-foot** target file, improves the assignment efficiency on tile edges.

Plots below show t

[2019-02-11 17:56] sbailey commented on #97
@tskisner sounds good.  Thanks.

[2019-02-11 18:01] sbailey commented on #97
implemented in #98.  Closing.

[2019-02-11 18:01] #97 closed

[2019-02-11 19:58] weaverba137 opened #100 "Document file search procedure"
#97 set up a new procedure for identifying the specific tile file to be read on disk.  However, the PR did not appear to contain any new documentation describing the procedure in detail.  Add this documentation, and describe why this is necessary *only* for tile files and not other files in `$DESIMODEL`.  Alternatively, apply this procedure to all files accessed via `desimodel.io`.

[2019-02-12 00:48] sbailey commented on #99
For context, `desimodel.footprint.find_points_in_tiles()` uses `desimodel.focalplane.get_tile_radius_deg()` for the default radius.  This returns the radius of the *middle* of the outermost positioner, but as you found here that means that there are some targets that are reachable by some positioners that aren't included.  This choice was motivated by people doing coverage statistics and not wanti

[2019-02-12 00:52] kdawson1000 commented on #99
I vote that it is updated to be the maximum possible radius to ensure that all targets will lie within reach of a positioner.  I agree that this does not need to do the exact per-positioner coverage.

[2019-02-12 01:00] Srheft commented on #99
Would be nice to show the tile perimiter in tile plots of the fiber assignment (a fine dashed-line circle superposed on the plots just so that we know if an "edge fiber" is left unassigned, it's not for any reason other than insufficient target density or fiber collision).

[2019-02-12 14:15] tskisner commented on #99
Another note:  In fiber assignment, the tile radius (which is used in the tree lookup to find available targets for each tile) is currently hard-coded to 1.65 degrees.  This and all of the hardware properties will be reviewed after the merge when updating the positioner geometry, etc.  That would be a good time to get this value from some other place like desimodel.

[2019-02-12 14:15] tskisner commented on #99
For reference:  https://github.com/desihub/fiberassign/blob/tsk_refactor/src/hardware.cpp#L94

[2019-02-12 22:21] Srheft commented on #99
@tskisner

` In fiber assignment, the tile radius (which is used in the tree lookup to find available targets for each tile) is currently hard-coded to 1.65 degrees.`

The source of difference between hard-coded tile radius in hardware and what I see below is not clear to me:

import desimodel.focalplane
desimodel.focalplane.get_tile_radius_deg()
1.6057735024174122

[2019-02-21 18:28] sbailey commented on #99
default tile radius updated in PR #102; closing this ticket.

[2019-02-21 18:28] #99 closed

[2019-03-26 15:38] londumas opened #104 "Read eBOSS fiberpos"
For the eBOSS option of the mocks: see PR https://github.com/desihub/desisim/pull/481 and PR https://github.com/desihub/specsim/pull/100 and issue https://github.com/desihub/desisim/issues/437.
We need a dummy eBOSS fiberpos, I created it via a copy of `$DESIMODEL/data/focalplane/fiberpos.fits`, keeping only the first two spectrographs, getting a random x and y position within a radius of `325. mm

[2019-03-26 19:52] sbailey commented on #104
Could you provide some more context about why we need a fiberpos file for eBOSS when eBOSS doesn't have fiber positioners at fixed locations?  i.e. specifically what doesn't work if this file doesn't exist?  It smells like we're using the fiber positioners file as a convenience for interpolating x, y, z, platescale, etc. when maybe that should be parameterized differently.

[2019-03-27 15:18] belaa commented on #104
@londumas `desisim.simexp.simulate_spectra()` has a `specsim_config_file` parameter - if that's set to 'eboss' maybe we can force it to generate these fiber positions on the fly, rather than having to add a separate file to `desimodel`?

[2019-06-04 23:36] tskisner opened #106 "Include light trap locations"
Eventually, after #105 is merged, we should also parse desi-0899 to get the locations of the light traps on each positioner.  This should be included in the new focalplane file format so that it can be parsed by fiberassign.

[2019-06-04 23:43] sbailey commented on #106
The traps are big enough that I don't think we need to worry about per-positioner differences, i.e. it could be a single number for distance along the phi arm and call it good.

[2019-06-25 15:45] tskisner opened #108 "When building focalplane model, handle missing positioner info"
Opening this issue as a note for the future.  When using the `desi_generate_focalplane` script without the `--fillfake` option, any device locations without a corresponding fp_settings conf file will simply have their properties filled with zeros.  This then produces an error when calling desimodel functions to do X/Y --> Q/S conversions (for example).

The correct behavior would be to use the nom

[2019-08-20 17:48] tskisner opened #111 "When building a focalplane model, include other exclusion zones"
In addition to positioner exclusion polygons, the collision input file defines the petal boundary exclusion zone as well as the GFA exclusion zones.  We do not yet store that in the focalplane model file, but we should.  This can then be queried by fiberassign.

[2019-09-25 21:54] weaverba137 opened #116 "Undeclared dependency"
desimodel has an undeclared dependency on [configobj](https://pypi.org/project/configobj/) in ``desimodel.inputs.focalplane``.  What specific need drives this dependency?

[2019-09-30 20:04] tskisner commented on #116
This is a temporary dependency, needed to read files from the instrument team specifying the properties of individual positioners.  It is only used by a script to generate desimodel inputs (i.e., not for general use).  Soon we'll be moving towards reading that information from a database, and will not need to import configobj.

[2019-10-01 16:37] tskisner commented on #111
This is now included in the focalplane model.  Closed by #113

[2019-10-01 16:37] #111 closed

[2019-10-01 16:38] tskisner commented on #108
This is fixed as of #113.

[2019-10-01 16:38] #108 closed

[2019-10-01 16:45] tskisner opened #117 "Rotate theta / phi positioner ranges based on petal location"
The current hardware model gets the positioner theta / phi range in terms of angles within a petal.  These are not global angles on the focalplane.  When placing petals into petal locations, we need to rotate the theta / phi ranges by the correct angle to maintain the relative orientations of positioners with respect to their petal.

Eventually, this may be resolved by using the DB, where position

[2019-10-05 04:01] #117 closed

[2019-10-10 00:48] sbailey opened #120 "update xy2radec & radec2xy to support field rotation"
Update `desimodel.focalplane.xy2radec` and `radec2xy` to support non-zero field rotation angles.  Use that within `desimodel.focalplane.gfa.*` when selecting which targets are covered by a GFA.

[2019-10-10 00:50] sbailey opened #121 "update xy2radec and radec2xy to support airmass field compression terms"
Update `desimodel.focalplane.xy2radec` and `radec2xy` to support airmass field compression terms.  This would require an optional hourangle parameter with a default of 0.  The current calculation is only valid for zenith (i.e. it doesn't even take the airmass compression due to `dec` into account).

[2019-10-10 20:23] tskisner opened #122 "Add focalplane model support for stuck / broken position"
When marking a positioner as broken / stuck in a focalplane state log, we should add support for specifying the position at which it is stuck.  We could do this by adding additional columns to the state log ECSV file.  This can be done in a backwards compatible way.  We should add corresponding options to the desi_update_focalplane_log script.

[2019-10-10 20:30] tskisner opened #123 "Add support for CANbus failures in focalplane model"
There are some events (e.g. a CANbus is disabled) which can bring many positioners offline temporarily.  We could individually disable all affected positioners and then re-enable them, but it may be easier to have some "shortcut" line in the state log that could be translated into the resulting state impact when loading the model.  Aspects to solving this are:

1.  Define the line syntax for such

[2019-10-10 20:39] tskisner opened #124 "Use instrument database for generating focalplane model"
This issue is to track the migration of the focalplane model generation from the current set of input files (fp_settings svn, DocDB files) to the online instrument database.  This involves actually changing the desimodel.inputs.focalplane code to use this new upstream source of information, as well as adding more checks for consistency when loading info from that DB.

[2019-10-11 16:50] sbailey commented on #123
Good idea.  The CANbus controls groups of 50 positioners in each "cassette", but the mapping of each cassette to slitblocks is purposefully different for each petal.  Cassettes cover either 1 or 2 contiguous regions on the focal plane. From DESI-2688:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/218471/66668799-e528df80-ec0a-11e9-8ea3-bcda3193ecf3.png">

The intende

[2019-10-11 16:57] sbailey commented on #124
FYI see the DESI wiki under Pipeline/RawDataTransfer#OperationsDatabase for information about how to access the read-only mirror of the ICS database at NERSC (and only visible from within NERSC, but I don't want to post the full info in a public ticket).  Users can add those credentials to their .pgpass file at NERSC but we should *not* include that in the desimodel code itself (even if it is read

[2019-10-14 17:05] sbailey opened #126 "update/deprecate fiberpos.fits"
`data/focalplane/fiberpos.fits` plus `desimodel.io.load_fiberpos()` and `desimodel.io.load_deviceloc()` were superceeded by `data/focalplane/desi-focalplane_*.ecsv` and `desimodel.io.load_focalplane()` in PR #105.

However, in the meantime `fiberpos.fits` is wrong and there is still code in the wild using `load_fiberpos()` and `load_deviceloc()`.  To help us transition:

* update `fiberpos.fits` t

[2019-10-15 05:06] Srheft commented on #126
To back this point up:
One of thsoe places that uses load_fiberpos() is in desimodel/py/desimodel/focalplane/geometry.py   and wherever else in desi software the function **get_tile_radius_deg()** or get_tile_radius_mm() is being called. Adam has been caling this fuction in his highly useful function **read_targets_in_tiles()** that is instrumental to those of us who work with pixelized target cat

[2019-10-21 23:51] sbailey commented on #126
@Srheft the good news is that the basic locations are the same, it is just a shuffling of which fibers are plugged into which locations, thus the calculations for tile radius should remain the same.

[2019-10-22 00:14] sbailey commented on #126
The fiberpos-all.fits file contains the locations of FIF, GIF, NON, and OPT locations that got dropped in the focalplane*.ecsv files which only have POS and ETC (moveable positioner locations).  We probably want to retain at least the FIF and GIF illuminated fidicial locations.

In the meantime, @tskisner could you double check my proposed mapping of how to load a fiberpos-all file, replace just t

[2019-10-22 02:03] tskisner commented on #126
Ok, will check this out this evening.  Just a note- I agree that we should restore the other device types to the focalplane file.  There was no particular reason for removing them and they might be useful- for example if we wanted to define exclusion polygons relative to the GIF locations.

[2019-10-22 14:17] tskisner commented on #126
I verified that the above code snippet works for me and that the output fiberpos files look good.  I'll open a separate PR with the change to restore all devices to the focalplane file.

[2019-10-29 19:18] sbailey commented on #126
fiberpos*.* in desimodel svn have been updated to match the focalplane*.ecsv file.  The desimodel code prints a deprecation warning log message when using `desimodel.io.load_fiberpos()`.  Closing this issue now and we can open a new one when ready to remove it for real.  This buys us some time while chasing other first-light topics.

[2019-10-29 19:18] #126 closed

[2020-01-29 18:18] michaelJwilson opened #131 "DESIMODEL SVN data?"
I get outdated errors from e.g. quick spectra (missing focal plane, fiber loss files etc) with respect to the README recommended SVN data:

svn export https://desi.lbl.gov/svn/code/desimodel/tags/0.4.2/data

Outdated tag?

[2020-01-29 18:20] weaverba137 commented on #131
*Extremely* outdated.  That tag was made 4 years ago.  The latest tag is 0.10.3.  Make sure your checkout of the desimodel git repository is comparably up-to-date.

[2020-01-29 18:37] sbailey commented on #131
@weaverba137 please update this in the desimodel/README.rst documentation, and review that documentation for other out-of-date statements / versions / paths / etc.  Where possible, future-proof the documentation, e.g. by documenting how to tell what the latest tag is, and then instructing people to check that out.  Thanks.

[2020-01-29 21:41] #131 closed

[2020-02-07 21:36] weaverba137 commented on #116
@tskisner , do you have an estimate on how soon desimodel will be reading from the positioner database?

[2020-02-12 18:18] sbailey opened #134 "Update platescale to as-built design from DESI-4037"
[DESI-4037](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?docid=4037) has the as-built optical design, including a correction to the primary mirror radius of curvature that impacts the overall platescale by ~0.1%, resulting in a ~160 um shift at the edge of the field.

Update desimodel/data/focalplane/platescale.txt (in svn) to use that instead of the as-designed "echo22" model from DESI

[2020-02-12 21:59] tskisner commented on #134
The plan just discussed offline is to move the arc length column from DESI-0530 into a separate file, to enable easier updates from upstream.  After that change, then the platescale.txt file in svn can be updated.  The code API does not need to change- we will just be loading 2 files from disk instead of one.

[2020-02-28 00:17] #100 closed

[2020-02-28 17:11] weaverba137 commented on #94
Did this get fixed as part of #135 ?

[2020-03-02 17:37] sbailey commented on #94
yes, thanks, fixed in #135; closing.

[2020-03-02 17:37] #94 closed

[2020-03-13 22:06] sbailey commented on #134
implemented in PR #136

[2020-03-13 22:06] #134 closed

[2020-04-07 16:31] weaverba137 commented on #116
We're not going to worry about this, it should not impact regular users.

[2020-04-07 16:31] #116 closed

[2020-04-07 16:32] weaverba137 commented on #69
Check the newest tile file!

[2020-04-07 16:38] weaverba137 commented on #48
Fold this into a "remove ancient cruft" from desimodel.   In principle the big, old psf files could be removed as well.

[2020-04-07 16:43] weaverba137 commented on #47
This may become irrelevant if we remove the spectra files from desimodel.

[2020-04-07 16:46] weaverba137 commented on #10
We do want to move the filter curves over to desispec, but this is very low priority for now.

[2020-04-07 16:51] weaverba137 commented on #8
At least one of these files is calibrated to air, not vacuum wavelengths. @julienguy , could you add your comments on other problems?

[2020-04-07 17:29] schlafly commented on #69
Let me take this one; it looks like I have units in the ecsv file but not the fits file.

[2020-04-07 18:45] schlafly commented on #69
Please see
https://desi.lbl.gov/svn/code/desimodel/branches/newtileunits/data/footprint/
As Stephen alluded to, it seems every time I touch this file the last few decimal digits change, but the values pass np.allclose(...) with respect to old values, so I'm declaring success.  This version fixes a mis-unit in STAR_DENSITY and adds TUNIT keywords to the FITS file.  It also adds a meta keyword to th

[2020-04-07 23:38] sbailey commented on #69
@weaver please double check this and then merge into trunk if it looks ok.  Thanks.

[2020-04-07 23:38] sbailey commented on #69
whoops I meant that for @weaverba137 .  Apologies to the other weaver that I just pinged.

[2020-04-08 00:32] weaverba137 commented on #69
I will try to get this done on Wednesday.

[2020-04-08 14:18] weaverba137 commented on #69
By the way, there's no GitHub PR associated with this is there?  The merge would be purely on svn, correct?

[2020-04-08 15:01] schlafly commented on #69
Correct.

[2020-04-08 15:02] weaverba137 commented on #69
OK, I'm going to merge momentarily.

[2020-04-08 15:02] #69 closed

[2020-04-14 15:25] dkirkby commented on #96
We are still using v13 throughputs but there is now an approved v16 (18 Mar 2020) which fixes an error in the blue fiber transmission.  Quoting from DESI-5647:

previous version of this note has been traced back to a mistake in the fiber
transmission data used in DESI-347. This is now fixed in version v15.2 of this
document.

@julienguy @sbailey Is anyone already working on this or shall I do it?

[2020-04-14 17:06] dkirkby commented on #96
I am working on this now...

[2020-04-14 18:19] dkirkby commented on #96
The names of both of the files that `throughput.update` reads from DESI-347 have changed, as well as the spreadsheet row with the total throughput.  After fixing these, I get updated read noise and dark currents in `desi.yaml` and new throughputs in `throughput/thru-[brz].fits`.

However, I want to check that these throughputs are correct as calculated:
[code]
In particular, does DESI-334 need to

[2020-04-14 18:38] dkirkby commented on #96
Here are the throughput changes from v13 (current DESIMODEL) to v16 (current DESI-347):
![throughput-v16-v13](https://user-images.githubusercontent.com/185007/79261138-3fb62900-7e44-11ea-8438-58ec9414d9af.png)

The changes are quite significant on the blue end but are still missing the narrow collimator absorption feature.

[2020-04-14 18:48] julienguy commented on #96
In your formula above it looks like the normalization of the spectrograph throughput is defined by DESI-334 which is from 2014, whereas the as-built throughput per spectro is given in DESI-347 (tab 'spectrograph throughput'). So that doesn't look correct. More on this offline (with Pat Jelinksy in the loop).

[2020-04-14 18:48] julienguy commented on #96
As for the dip in the blue, yes, this is due to a correction in the fiber transmission.

[2020-04-14 19:48] julienguy commented on #96
The fine grid throughput per spectrograph is in https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?docid=5501

[2020-04-14 20:04] dkirkby commented on #96
Unfortunately there is no average spectrograph throughput in 5501 so we either need to add that there or else update `throughput.update` to loop over each spectrograph and do its own average.

[2020-04-20 22:20] tskisner opened #138 "Mechanism for getting current "nominal" focalplane"
For simulations, there is frequently a need to get the current "best estimate" of the nominal focalplane model.  There are 2 easy ways (possibly more) that this could be implemented:

1.  Have a special set of the focalplane ECSV files with a name like "nominal" in place of the date stamp.  `desimodel.io.load_focalplane()` can recognize this string and return that instead of a normal date lookup /

[2020-04-30 15:25] weaverba137 commented on #8
@julienguy , a while ago you mentioned there were other problems with these extinction tables.  Could you please take a look so we can decide which one to keep?

[2020-05-12 20:03] michaelJwilson commented on #138
Given what I'm hearing, it seems there's also interest in simulating a realistic fiber failure rate throughout the course of the survey.   This would clearly prefer framework (2) I think.  Is that at all feasible in the nearer term?

[2020-07-18 00:11] #96 closed

[2020-10-19 22:46] sbailey commented on #124
Adding a note to prevent possible duplicated effort: @julienguy will take a first pass at this, updating the `desi_generate_focalplane` script to take a new parameter to load params from the database as an alternative to `--pos_settings` to get it from an SVN checkout of the files that were used to originally load the DB.

Possible gotcha: `desi_generate_focalplane` requires the configobj library,

[2021-04-05 21:00] tskisner opened #146 "Convert focalplane model times to UTC"
Currently when loading dump files from the online system, we do not convert the times to UTC.  We should do this for consistency everywhere.

[2021-09-23 18:33] alxogm opened #153 "Update throughput model to include dip between 4300 and 4500A"
As discussed with @julienguy it would be useful to have an updated throughput model, so that it can be included in Lyman alpha (and other) spectra simulations.

[2021-09-27 22:18] julienguy opened #154 "Add information about fibers with low transmission"
Fibers with low transmission (<70% of average) should not be assigned to targets (because they will on average be assigned a LOWEFFTIME fiber status bit during the spectroscopic pipeline exposure QA) and fibers with even lower transmission (<50%) should not be counted as valid sky fibers.

We need a mechanism to save this information in DESIMODEL in order to pass it to fiber assignment. This infor

[2022-01-11 18:39] weaverba137 opened #155 "Outdated desimodel test branches."
desimodel test branches have got out of sync with desimodel tags.  The latest tag is 0.17.0, but the latest test branch is test-0.13.  If nothing else, this is confusing for anyone trying to test against the latest version.

[2022-01-11 20:40] weaverba137 commented on #155
I have created `branches/test-0.16` and `branches/test-0.17`, following the standard test branch instructions.

[2022-01-11 20:40] #155 closed

[2022-02-17 17:55] sbailey opened #157 "astropy 5 not compatible with focalplane calibration ecsv"
Focal plane calibration ecsv files used for updating the desimodel focalplane model are not compatible with astropy 5.0 (thanks to @kfanning for reporting).

Using current main environment based on astropy 5.0:
[code]

This works fine with astropy 4.0.1.post1:
[code]

In the input file, there are two "object" columns:
[code]
that are dumps as string representations of arrays in the table rows:
[co

[2022-02-17 17:58] sbailey commented on #157
From @kfanning in Slack while I was filing ticket:

[2022-02-17 18:09] weaverba137 commented on #157
So these are table-valued columns? That is definitely not good practice.  Someone needs to fix this at KPNO.

[2022-02-17 18:15] weaverba137 commented on #157
Misread the comment, but it is at least possible that an astropy `Table` can contain values that are not strictly in the set of allowed ECSV values. I'm going to take the position that the ECSV files should be written out with valid values that can be parsed by both astropy 4 and astropy 5.

[2022-02-17 18:34] weaverba137 commented on #157
I'm saying it is *wrong* to declare `dtype=object` in the first place.  Why on Earth would that be anything but a bug in user code?

[2022-02-17 18:55] weaverba137 commented on #157
For reference, this change originates in Astropy 4.3, https://docs.astropy.org/en/stable/changelog.html#id51.

Actually, I think between that and the example above, we have a workaround:

1. Change `ECSV 0.9` to `ECSV 1.0`.
2. Change `object` to `string, subtype:json`.
3. Put quotes around the affected columns.

Still, is it *really* the intention of the originating code to write out a JSON-valued

[2022-02-17 23:28] weaverba137 commented on #157
Found the relevant astropy issue: astropy/astropy#12480.  The eventual fix will be to convert the exception into a warning, but that is still an open PR.

[2022-02-18 18:19] weaverba137 commented on #157
@sbailey, could you let me know what the level of urgency is on this?  I have no familiarity with these files or even whether they are used by the pipeline at all.

[2022-02-18 22:12] weaverba137 commented on #157
See also https://github.com/astropy/astropy-APEs/blob/main/APE6.rst#object-columns for the official documentation of object columns in ECSV 1.0.  The short version is that object columns are **expected** to be JSON-encoded.

A string like `"{'M03938', 'M03908', 'M04218', 'M04170', 'M02941', 'M01389'}"` is *not* valid JSON.  It appears someone was trying to encode a set. So even if astropy adds bac

[2022-02-21 16:33] kfanning commented on #157
These files are used in the daily focal plane calibration sync for ops planning. At the moment this isn't causing any issues while that process uses the desi 21.7e environment.

It sounds like the format of the file should be changed before running this process in a newer environment. I've looked at Joe's script making these and I think I can change it. I think it will be the _least_ intrusive to

[2022-02-21 17:23] tskisner commented on #157
Sorry I am late to this discussion, just a couple points:

- The focalplane sync loads the calibration dump as an astropy table, but it does not actually use the two columns in question (`POS_NEIGHBORS` and `FIXED_NEIGHBORS`).
- The desimodel data svn is the record of the changing focalplane state with time used by fiberassign.  I don't think we would ever "re-sync" all the calibration dumps into

[2022-02-21 17:50] tskisner commented on #157
For additional reference, the function which takes the calibration dump table and [extracts the information is here](https://github.com/desihub/desimodel/blob/d18fc5a7ff0c7f2c9cafee890c8c0858ad524ed2/py/desimodel/inputs/focalplane_sync.py#L93)

[2022-04-19 21:32] schlafly commented on #157
Sorry to let this hang.  I think an ideal solution would be one where we update the format of the FP dumps to a new format which breaks neither astropy 4 or astropy 5.  Ted has confirmed that we don't use these two columns, so it sounds like it may be possible to produce an astropy 4 & 5 compatible file?  Then we can migrate the FP sync script install to astropy 5.

[2022-04-21 18:32] weaverba137 commented on #157
That sounds fine with me.

[2022-08-16 20:57] sbailey opened #158 "desiInstall desimodel branches/main fails"
`desiInstall desimodel branches/main` fails with:
[code]

It looks like this could be fixed in `etc/desimodel_data.sh` with an additional check for main in addition to (or instead of)master.
[code]

[2022-08-17 22:07] #158 closed

[2022-08-18 18:49] weaverba137 opened #160 "Remove fix-tiles branch?"
In closing #95 without merging, there was a dangling question about whether the branch `fix-tiles` needed to be kept or if #135 completely superseded it. Just happened to notice that while updating the data install script.

[2022-08-18 18:50] weaverba137 commented on #160
`deprecate-fiberpos` is worth checking on as well.  It's years out-of-date, but never merged.

[2022-08-23 15:01] alxogm commented on #153
We have new throughput files based on https://desi.lbl.gov/DocDB/cgi-bin/private/RetrieveFile?docid=6157;filename=Raichoor_throughput_05May2021.pdf;version=2, that we would like to use for the Lya spectra simulations. But the data directory is not present in the GitHub repository, how should I proceed to incorporate such throughput? Should the new throughput be the default or just for the Lya purp

[2022-08-23 16:04] alxogm opened #161 "update psf-quicksim"
@julienguy @sbailey I have noticed that in order to match the wavelength output from specsim simulations I need to provide an updated file of $DESIMODEL/data/specpsf/psf-quicksim.fits, is there a script to produce this file?

I think the update needed is to provide a finer wavelength grid and a shorter wavelength range.

The alternative I think is to hack specsim, but David advised not to do that.

[2022-08-23 17:09] julienguy commented on #153
Hi Alma (@alxogm), the DESIMODEL data files are in fact in SVN because there are lots of fits files. You can see the repository on the web with your trac account there https://desi.lbl.gov/trac/browser/code/desimodel/trunk/data  .
See the file https://desi.lbl.gov/trac/browser/code/desimodel/trunk/README.rst for more information and link.
You will find in the README file that you can access this r

[2022-08-23 18:45] sbailey commented on #161
@alxogm the original code to convert the optical model spots PSFs into the quicksim PSFs is in `$DESIMODEL/bin/psf2quicksim.py`.  I think you'd need to change line 139 to use the wavelength grids from the real data (per-camera) and I expect the rest would still work.

[2022-08-23 19:14] alxogm commented on #161
Thanks! I'll take a look .

[2022-08-23 19:15] alxogm commented on #153
ok, thanks! I haven't used svn in a very long time, but will give it a try.

[2022-08-24 01:22] alxogm commented on #161
It worked using desi_enviroment 20.4, with more recent ones throws the following error:
[code]

I didn't tried to solve it as I could generate the file I needed with the older desi_enviroment.

 I have two questions: 1) should I commit the new file I generated to svn, perhaps with a different name so that the original can still be used?

[2022-11-17 18:25] weaverba137 opened #162 "Update api.rst"
These modules are missing from `doc/api.rst`:

* `desimodel.fastfiberacceptance`
* `desimodel.focalplane.fieldrot`
* `desimodel.inputs.focalplane_sync`
* `desimodel.inputs.focalplane_utils`

[2022-11-22 21:52] #162 closed